*body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.navLinks{
    display: flex;
    gap: 30px;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}