/* Common Css */
* {
    box-sizing: border-box;
}

body{

    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
    /* padding-inline-start: 0px; */
}
a{
    text-decoration: none;
}
h1, p, li, h3, h4{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}
/* ------------Header Start------------ */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.navLinks{
    display: flex;
    gap: 30px;

}
.logo{
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;
}
.navLinks a{
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
}
/* ------------- Header End ------------- */
/* ---------- Banner Start ---------- */
.headerContentWrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 120px;
}
.herocontent{
    width: 50%;
}
.headerImage{
    width: 50%;
}
.headerImage img{
    margin-left: 110px;
}
.herocontent h1{
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    color: #3A3A3A;
}
.herocontent p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
    /* width: 505px; */
    margin-top: 16px;
    margin-bottom: 24px;
    }

.headerBtn{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #E02C6D;
    display: inline-block;
    padding: 10px 24px;
    border-radius: 24px;
}

/* ---------- Banner End ----------- */

    /* ---------- Sponcers Section start---------- */
    .sponcersWrapper{
        margin-top: 80px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        /* gap: 16px; */
        /* justify-content: space-between; */
        text-align: center;
        border-bottom: 1px solid #EEF1F5;
        border-top: 1px solid #EEF1F5;
        padding: 36px 0;
    }
    .sponcersImage{
        width: 14.25%;
    }
/* ---------- Sponcers Section end---------- */

/* ---------- Popular Collection Start---------- */
    .popularCollection{
        margin-top: 100px;
    }
    .sectionHeading{
        text-align: center;
        font-weight: 600;
        font-size: 28px;
        color: #3A3A3A;
        margin-bottom: 30px;
    }
    .collectionWrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
    }
    .productDetails h3{
        font-weight: 500;
        font-size: 28px;
        color: #18191F;
    }
    .productDetails h4{
        font-weight: 400;
        font-size: 24px;
        color: rgba(0, 0, 0, 0.87);
        padding: 6px 0;
    }
    .productDetails p{
        font-weight: 700;
        font-size: 14px;
        color: #787885;
    }
    .ratingWrapper{
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 4px;
    }
    .starIcon{
        color: #FB8200;
    }
    .singleCollection{
        width: 330px;
        background-color: white;
        padding: 15px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }
/* ---------- Popular Collection End---------- */



/* ---------- Responsive Design ---------- */

/* ----------
        Medium Devices
        ------------------ */
@media screen and (min-width: 577px) and (max-width:992px) {
    .navigation{
        display: flex;
        flex-direction: column;
    }
    .headerContentWrapper{
        flex-direction: column-reverse;
        text-align: center;
        padding: 0 30px;
        margin-top: 50px;
    }
    .herocontent{
        width: 100%;
    }
    .headerImage{
        width: 100%;
    }
    .headerImage img{
        margin-left: 0;
    }
    .collectionWrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ----------
        Small Devices
        --------------- */
    @media screen and (max-width: 576px) {
        .navigation{
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 0 16px;
        }
        .headerContentWrapper{
            flex-direction: column-reverse;
            text-align: center;
            padding: 0 30px;
            margin-top: 24px;
        }
        .herocontent{
            width: 100%;
        }
        .headerImage{
            width: 100%;
        }
        .headerImage img{
            margin-left: 0;
        }
        .herocontent h1{
            font-weight: 700;
            font-size: 28px;
            line-height: 42px;
            color: #3A3A3A;
        }
        .herocontent p{
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #3A3A3A;
        }
        .navLinks a{
            font-weight: 600;
            font-size: 12px;
            color: #3A3A3A;
            gap: 14px;
        }    
        .collectionWrapper{
            grid-template-columns: repeat(1, 1fr);
            align-content: center;
        }
    }